.rig {
    position: relative;
}

.bb {
    display: none;
    position: absolute;
    left: 0;
}

.maijia_nav .nav-wapper .logo {
    padding-left: 50px;
    margin: 8px 0 8px 0;
    line-height: 1.5;
    /*inline使得div换行功能；display：block则是默认的，块区域，是换行的；*/
    display: inline-block;
}

.maijia_nav {
    margin: 0 0 10px;
}

.nav-item {
    height: 65px;
    float: left;
    padding: 0 15px;
}

.right-head {
    border: 0;
    background: transparent url(http://cdn.maijia.com/www/www-seo/components/maijia-tool/src/header_bd1ede1.png) no-repeat top right;
    top: 450px;
    height: 49px;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.login{
    width: 280px;
    height: 255px;
    margin-right: 100px;
    /*padding-top: 55px;*/
    margin-top: 115px;
    float: right;
}
.input-login{
    width: 218px;
    height: 28px;
    border: 1px solid #ddd;
    /*text-indent: 5px;*/
    font-size: 12px;
    margin-left: 29px;
}
.btn-login{
    background-color: #ff8939;
    height: 40px;
    width: 218px;
    margin-left: 29px;
    margin-top: 30px;
}
.third-party{
    font-size: 12px;
    color: #999999;
    height: 40px;
    background-color: #f1f1f1;
    width: 280px;
    margin-bottom: 0px;
}
.left-display{
    width: 200px;
    height: 652px;
    font-family: 微软雅黑;
    background-color: #f9f2f4;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
    display: inline;
}
.font-css{
    font-family: 微软雅黑;
    font-size: 12px;
}
/*服务商入驻*/
.a{
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 16px;
    margin-left: 9px;
    position: relative;
    bottom: -2px;
}

.line-box{
    width: 200px;
    height: 20px;
    color: #761c19;
    font-size: 12px;
    font-family: 微软雅黑;
    text-align: center;
    /*background-color: #761c19;*/
    position: relative;
    margin-top: 10px;
}
.left-soft{
    width: 172px;
    height: 74px;
    margin-left: 24px;
    margin-top: 1px;
}
.hot-news{
    width: 640px;
    height: 664px;
    margin-right: 18px;
    margin-left: 280px;
    margin-top: 20px;
    background-color: #dff0d8;
    position: absolute;
    display: inline;
}
.r-tool{
    width: 300px;
    height: 680px;
    margin-top: 20px;
    margin-left: 950px;
    background-color: #f9f2f4;

}
.block-css{
    width: 600px;
    height: 91px;

}
.h4-css{
    font-family: 微软雅黑;
    width: 445px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0px;
    font-size: 16px;
}
.p-css{
    color: rgb(102, 102, 102);
    font-size: 12px;
    line-height: 20px;
    font-family: 宋体;
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 449px;
    height: 40px;
    margin-bottom: 5px;
}
.line-0{
    height: 1px;
    width: 600px;
    background-color: #dddddd;
}
.course-time{
    height: 30px;
    color: #666;
    font-family: 宋体;
}
.button-css{
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #3bac8a;
    margin-left: 90px;
    text-align: center;
    margin-top: 30px;
    color: rgba(255,255,255,.84);
    font-size: 18px;
}
.cust-ser {
    padding-top: 15px;
    /*float:right;*/
    right: 0;
    color: #fff;
    position: absolute;
    background: #cc4a4c;
    font-size: 13px;
    /*text-align: center;*/
    top: 497px;
    height: 100px;
    /*z-index: 1;*/
    width: 38px;
}

.cust-ser .qq {
    top: 547px;
    height: 36px;
    width: 38px;
}
