.rig {
    position: relative;
}

.bb {
    display: none;
    position: absolute;
    left: 0;
}

.maijia_nav .nav-wapper .logo {
    padding-left: 50px;
    margin: 8px 0 8px 0;
    line-height: 1.5;
    /*inline使得div换行功能；display：block则是默认的，块区域，是换行的；*/
    display: inline-block;
}

.maijia_nav {
    margin: 0 0 10px;
}

.nav-item {
    height: 65px;
    float: left;
    padding: 0 15px;
}

.right-head {
    border: 0;
    background: transparent url(http://cdn.maijia.com/www/www-seo/components/maijia-tool/src/header_bd1ede1.png) no-repeat top right;
    top: 450px;
    height: 49px;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.login{
    width: 280px;
    height: 255px;
    margin-right: 100px;
    /*padding-top: 55px;*/
    margin-top: 115px;
    float: right;
}
.input-login{
    width: 218px;
    height: 28px;
    border: 1px solid #ddd;
    /*text-indent: 5px;*/
    font-size: 12px;
    margin-left: 29px;
}
.btn-login{
    background-color: #ff8939;
    height: 40px;
    width: 218px;
    margin-left: 29px;
    margin-top: 30px;
}
.third-party{
    font-size: 12px;
    color: #999999;
    height: 40px;
    background-color: #f1f1f1;
    width: 280px;
    margin-bottom: 0px;
}
.cust-ser {
    padding-top: 15px;
    /*float:right;*/
    position: fixed;
    right: 0;
    color: #fff;
    position: absolute;
    background: #cc4a4c;
    font-size: 13px;
    /*text-align: center;*/
    top: 497px;
    height: 100px;
    /*z-index: 1;*/
    width: 38px;
}

.cust-ser .qq {
    top: 547px;
    height: 36px;
    width: 38px;
}
