.goods-detail{
    width: 70px;
    height: 30px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: #999;
    /*float: left;*/
    text-align: justify;
}
.ff{
    font-size: 14px;font-family: 微软雅黑;
    width: 150px;
    height: 30px;
    float: right;
    font-family: 宋体;
}
.wrapper{
    width: 240px;
    height: 30px;
}